.cards {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.cards app-player-card {
  width: 300px;
  margin: 10px;
}

.cards app-player-card:hover {
  cursor: pointer;
  box-shadow: 2px 2px 2px #aaa;
}

.end-line {
  flex-grow: 1;
}
