<mat-paginator [length]="count"
              [pageSize]="size"
              [pageIndex]="index"
              [pageSizeOptions]="[5, 10, 25, 100]"
              (page)="changePage($event)">
</mat-paginator>

<div *ngIf="players && players.length > 0 else noMore" class="cards">
  <app-player-list [players]="players"></app-player-list>
</div>

<ng-template #noMore>
  <mat-grid-list cols="1" rowHeight="4:1">
    <mat-grid-tile>
      Retour à la <a mat-button [routerLink]="['/', 'player']">Page 1</a>
    </mat-grid-tile>
  </mat-grid-list>
</ng-template>
