<mat-paginator [length]="count"
              [pageSize]="size"
              [pageIndex]="index"
              [pageSizeOptions]="[5, 10, 25, 100]"
              (page)="changePage($event)">
</mat-paginator>

<div *ngIf="players else loading" class="cards">
  <!-- <app-player-list [players]="players"></app-player-list> -->
  <ng-container *ngFor="let player of players">
    <app-player-card [player]="player" (click)="view(player.id)"></app-player-card>
  </ng-container>
  <div class="end-line"></div>
</div>

<ng-template #loading>
  <mat-grid-list cols="1" rowHeight="4:1">
    <mat-grid-tile>
      <mat-spinner></mat-spinner>
    </mat-grid-tile>
  </mat-grid-list>
</ng-template>
