<form>
    <input [matAutocomplete]="auto" [formControl]="boardgameForm" spellcheck="false" placeholder="Rechercher...">
    <mat-autocomplete #auto="matAutocomplete" class="custom-autocomplete" (optionSelected)="select($event.option.value)"
        autoActiveFirstOption="true">
        <mat-option *ngFor="let boargame of boardgames" [value]="boargame.name">
            <div class="option">
                <div class="img-container">
                    <img [src]="boargame.thumbnail" alt="img"/>
                </div>
                <span class="pick-option-text">{{ boargame.name }} ({{ boargame.year }})</span>
            </div>
        </mat-option>
    </mat-autocomplete>
</form>
