<form class="app-autocomplete-search-input pick-form">
  <input matInput spellcheck="false" class="pick-full-width" [placeholder]="placeholder"
      [matAutocomplete]="auto"
      [formControl]="inputControl">
  <mat-autocomplete #auto="matAutocomplete" class="custom-autocomplete"
      (optionSelected)="select($event.option.value)"
      [displayWith]="displayFunction">
      <mat-option *ngFor="let boardgame of boardgames" [value]="boardgame">
        <img class="pick-option-img" [src]="boardgame.thumbnail">
        <span class="pick-option-text">{{ boardgame.name }} ({{ boardgame.year }})</span>
      </mat-option>
  </mat-autocomplete>
</form>
