.app-autocomplete-search-input input {
  background: white;
  border: solid 1px rgba(0, 0, 0, 0.30);
  border-radius: 5px;
  padding: 5px 5px;
  margin: 1px;
}

.option {
  display: flex;
}

.pick-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.pick-full-width {
  width: 100%;
}

.pick-option-img {
  height: 40px;
  vertical-align: middle;
  margin-right: 5px;
}

.pick-option-text {
  padding-left: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}
