input {
  width: 100%;
}

.pick-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.pick-full-width {
  width: 100%;
}

.pick-option-img {
  height: 30px;
  vertical-align: middle;
  margin-right: 8px;
}

.pick-option-text {
  padding-left: 20px;
}
