<form>
    <input [matAutocomplete]="auto" [formControl]="boardgameForm" spellcheck="false" placeholder="Rechercher...">
    <mat-autocomplete #auto="matAutocomplete" class="custom-autocomplete" (optionSelected)="select($event.option.value)"
        autoActiveFirstOption="true">
        <mat-option *ngFor="let boargame of boardgames" [value]="boargame.name">
            <img class="pick-option-img" [src]="boargame.thumbnail">
            <span class="pick-option-text">{{ boargame.name }} ({{ boargame.year }})</span>
        </mat-option>
    </mat-autocomplete>
</form>
