<mat-divider></mat-divider>
<div class="state" *ngIf="!rateOnly">
  <button mat-button [color]="getColor('owned')" (click)="setState('owned')" [disabled]="!editable">Owned</button>
  <button mat-button [color]="getColor('play')" (click)="setState('play')" [disabled]="!editable">Play</button>
  <button mat-button [color]="getColor('buy')" (click)="setState('buy')" [disabled]="!editable">Buy</button>
</div>
<mat-divider></mat-divider>
<div class="rate">
  <button mat-icon-button [color]="getRateColor(1)" (click)="setRate(1)" [disabled]="!editable && !user">
    <mat-icon *ngIf="rate >= 1; else bordered">star</mat-icon>
  </button>
  <button mat-icon-button [color]="getRateColor(2)" (click)="setRate(2)" [disabled]="!editable && !user">
    <mat-icon *ngIf="rate >= 2; else bordered">star</mat-icon>
  </button>
  <button mat-icon-button [color]="getRateColor(3)" (click)="setRate(3)" [disabled]="!editable && !user">
    <mat-icon *ngIf="rate >= 3; else bordered">star</mat-icon>
  </button>
  <button mat-icon-button [color]="getRateColor(4)" (click)="setRate(4)" [disabled]="!editable && !user">
    <mat-icon *ngIf="rate >= 4; else bordered">star</mat-icon>
  </button>
  <button mat-icon-button [color]="getRateColor(5)" (click)="setRate(5)" [disabled]="!editable && !user">
    <mat-icon *ngIf="rate >= 5; else bordered">star</mat-icon>
  </button>
</div>

<ng-template #bordered>
  <mat-icon>star_border</mat-icon>
</ng-template>
