/*
.margin {
  margin: 8px 0px;
}

.card {
  padding: 0;
  background: none;
}

.boardgame {
  position: relative;
  background: none;
}

.background {
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  opacity: 0.4;
  border-radius: 5px;
}
*/

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.boardgame h4 {
  width: 100%;
}

.boardgame img {
  width: 80px;
  max-height: 80px;
}
