<ng-container *ngIf="play">
  <div class="play">
    <app-play-card [play]="play"></app-play-card>
    <ng-container *ngIf="!listItem; then detail"></ng-container>
  </div>
</ng-container>

<ng-template #detail>
  <div class="scores" *ngIf="play.scores.length > 0 else noScore">
    <h4>Scores</h4>
    <ng-container *ngFor="let score of play.scores">
      <app-play-score [score]="score" (click)="scoreAction(score)"></app-play-score>
    </ng-container>
  </div>
</ng-template>

<ng-template #noScore>
  <p>Pas de scores</p>
</ng-template>
