.play h4 {
    width: 100%;
}

.scores {
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.score app-play-score {
  margin: 10px;
}

.score, .inline-object {
  margin: 10px;
  width: 340px;
}

.score:hover {
  cursor: pointer;
}

.score app-play-score:hover {
  box-shadow: 2px 2px 2px #aaa;
}
