<ng-container *ngIf="play">
  <div class="play">
    <app-play-card [play]="play" fromDate=false (headerClicked)="goBoardgame()">
      <ng-container *ngIf="user">
        <app-play-action [play]="play"></app-play-action>
      </ng-container>
    </app-play-card>
    <ng-container *ngIf="!listItem; then detail"></ng-container>
  </div>
</ng-container>

<ng-template #detail>
  <h4>Scores</h4>
  <div class="scores" *ngIf="play.scores.length > 0 else noScore">
    <div *ngFor="let score of play.scores" class="score">
      <app-play-score [score]="score" (click)="scoreAction(score)"></app-play-score>
    </div>
    <div class="inline-object"></div>
    <div class="inline-object"></div>
    <div class="inline-object"></div>
  </div>
</ng-template>

<ng-template #noScore>
  <p>Pas de scores</p>
</ng-template>
