.play h4 {
    width: 100%;
}

.scores {
  margin: 10px;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.scores app-play-score {
  width: 400px;
  margin: 16px;
}

app-play-score:hover {
  cursor: pointer;
  box-shadow: 2px 2px 2px #aaa;
}
