<ng-container *ngIf="player else loading">
  <mat-card>
    <app-avatar class="app-card-avatar" size=60 [name]="player.name"
        [colors]="player.avatar.colors"
        [image]="player.avatar.image">
    </app-avatar>
    <div *ngIf="score.winner" class="icon">
      <mat-chip-list>
        <mat-chip color="accent" selected>
          Victoire <mat-icon>stars</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </div>
    <mat-card-header>
      <!-- playername -->
      <mat-card-title>
        {{ player.name }}
      </mat-card-title>
      <mat-card-subtitle *ngIf="score.value != 0">Score : {{ score.value }} points</mat-card-subtitle>
      <mat-card-subtitle *ngIf="score.value == 0">Pas de score</mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <ul>
        <li *ngIf="score.new"><span>Première partie !</span></li>
        <li *ngIf="!score.new">A déjà joué plusieurs fois</li>
      </ul>
    </mat-card-content>
  </mat-card>
</ng-container>

<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
