.avatar {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.spacing {
  padding-top: 10px;
}

.mat-card-header {
  margin-bottom: 10px;
}

.mat-card-content {
  padding-top: 10px;
}
