<ng-container *ngIf="player else loading">
  <mat-card>
    <app-avatar class="app-card-avatar" size=60 [name]="player.name"
        [colors]="player.avatar.colors"
        [image]="player.avatar.image">
    </app-avatar>
    <div *ngIf="score.winner" class="icon">
      <app-text-chip color="accent">
        Victoire <mat-icon>stars</mat-icon>
      </app-text-chip>
    </div>
    <mat-card-header>
      <!-- playername -->
      <mat-card-title>
        {{ player.name }}
      </mat-card-title>
      <mat-card-subtitle *ngIf="score.value != 0">Score : {{ score.value }} points</mat-card-subtitle>
      <mat-card-subtitle *ngIf="score.value == 0">Pas de score</mat-card-subtitle>
    </mat-card-header>
    <ng-container *ngIf="score.new || score.role || score.team">
      <mat-divider></mat-divider>
      <mat-card-content>
        <ul>
          <li *ngIf="score.new"><span>Première partie !</span></li>
          <li *ngIf="score.team">Equipe: <span>{{ score.team }}</span></li>
          <li *ngIf="score.role">>Role: <span>{{ score.role }}</span></li>
        </ul>
      </mat-card-content>
    </ng-container>
  </mat-card>
</ng-container>

<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
