.app-card-avatar {
  position: absolute;
}

.mat-card-header {
  margin-left: 60px;
}

.mat-card-title {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-card-header {
  margin-bottom: 10px;
}

.mat-card-content {
  padding-top: 10px;
}

span {
  color: var(--second-color);
}

.icon {
  position: absolute;
  top: 0;
  right: 0;
  /* transform: translate(10%, -25%); */
  transform: translate(0%, -50%);
  opacity: 0.8;
}

.icon .mat-chip {
  color: white;
  font-weight: bold;
}
