<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="avatar"></div>
    <mat-card-title><mat-icon *ngIf="score.winner">star</mat-icon>{{ score.playerName }}</mat-card-title>
    <mat-card-subtitle *ngIf="score.value != 0">{{ score.value }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-divider></mat-divider>
    <p class="spacing" *ngIf="score.new">Première partie !</p>
    <p class="spacing" *ngIf="!score.new">A déjà joué X fois</p>
  </mat-card-content>
  <!-- <mat-card-actions>
    <button mat-button color="accent">Modifier</button>
  </mat-card-actions> -->
</mat-card>
