.boardgames {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.boardgames {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.boardgame, .inline-object {
  margin: 10px;
  width: 340px;
}

.boardgame:hover {
  cursor: pointer;
}

.boardgames app-boardgame-card:hover {
  box-shadow: 2px 2px 2px #aaa;
}

@media (max-width: 600px) {
  .boardgame {
    margin: 10px auto;
  }
}
