.users {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.user, .inline-object {
  margin: 10px;
  width: 340px;
}

.users app-user-card:hover {
  box-shadow: 2px 2px 2px #aaa;
}

@media (max-width: 600px) {
  .user {
    margin: 10px auto;
  }
}
