<mat-accordion class="accordion-search">
  <mat-expansion-panel [expanded]="openSearch">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Rechercher
      </mat-panel-title>
      <mat-panel-description>
        <mat-icon>search</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
      <div class="boardgame-search">
        <form [formGroup]="form" (ngSubmit)="search()">
          <div class="values">
            <!-- name input -->
            <mat-form-field class="long">
              <input matInput placeholder="Par nom..." type="string" name="name" formControlName="name"
                    (keyup)="searchByName()" />
            </mat-form-field>
    
            <!-- time.min input -->
            <mat-form-field [class.readonly]="form.value.extended">
              <input matInput type="number" name="min" formControlName="min" class="as-text" 
                    [readonly]="form.value.extended"/>
              <mat-hint>autour de...</mat-hint>
              <span matSuffix>min</span>
            </mat-form-field>
    
            <!-- time.max input -->
            <mat-form-field [class.readonly]="form.value.extended">
              <input matInput type="number" name="max" formControlName="max" class="as-text"
                    [readonly]="form.value.extended" />
              <mat-hint>Pas plus de...</mat-hint>
              <span matSuffix>min</span>
            </mat-form-field>
    
            <!-- extended seach input -->
            <mat-checkbox name="extended" formControlName="extended">chercher sur BoargameGeek</mat-checkbox>
          </div>
          <div class="actions">
            <button mat-button (click)="reset()"><mat-icon>refresh</mat-icon></button>
            <!-- search button -->
            <button mat-raised-button type="submit" color="accent" [disabled]="!form.valid">Rechercher</button>
          </div>
        </form>
      </div>
  </mat-expansion-panel>
</mat-accordion>

<ng-container *ngIf="boardgameSearch.thematics || boardgameSearch.mechanics">
  <p>
    <span *ngIf="boardgameSearch.thematics">Thématiques : {{ boardgameSearch.thematics }}</span>
    <span *ngIf="boardgameSearch.mechanics">Mécaniques : {{ boardgameSearch.mechanics }}</span>
  </p>
</ng-container>
