<div class="boardgame-search">
  <form [formGroup]="form" (ngSubmit)="search()">

    <!-- name input -->
    <label>Name...</label>
    <input type="string" name="name"
        formControlName="name" (keyup)="searchByName()" />

    <!-- time.min input -->
    <label>Min time</label>
    <input type="number" name="min"
        formControlName="min" />

    <!-- time.max input -->
    <label>Max time</label>
    <input type="number" name="max"
        formControlName="max" />

    <!-- extended seach input -->
    <label>Extended</label>
    <input type="checkbox" name="extended"
        formControlName="extended" />

    <!-- search button -->
    <button type="submit" [disabled]="!form.valid">Rechercher</button>
    <button type="button" (click)="reset()">Reset</button>
  </form>
</div>
