input.as-text {
  -moz-appearance: textfield;
  text-align: right;
}

.long {
  width: 100%;
}

.values > * {
  padding-right: 20px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.actions > * {
  padding-right: 60px;
}

.readonly {
  color: #aaa;
}

.accordion-search .mat-expansion-panel-header-description {
  justify-content: right;
  flex-direction: row-reverse;
}

p {
  padding: 10px;
}
