.mat-form-field {
  width: 100%;
}

.option {
  display: flex;
}

.pick-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.pick-full-width {
  width: 100%;
}

.pick-option-img {
  height: 40px;
  vertical-align: middle;
  margin-right: 5px;
}

.pick-option-text {
  padding-left: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}
