.plays {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.play, .inline-object {
  margin: 10px;
  width: 340px;
}

.play:hover {
  cursor: pointer;
  /* box-shadow: 2px 2px 2px #aaa; */
}

@media (max-width: 600px) {
  .play {
    margin: 10px 2px;
  }
}
