<ng-container *ngIf="dateSeparatorMode else noSeparator">
  <div class="plays">

    <ng-container *ngFor="let byDate of playsByDate">
        <div class="time">
          <mat-card>
            <mat-icon class="icon">date_range</mat-icon>
            {{ byDate.calendar }}
          </mat-card>
        </div>
        <ng-container *ngFor="let play of byDate.plays; let i = index">
        <div class="play" (click)="view(play.id)">
          <ng-container *ngIf="boardgame else noBoardgame">
              <!-- <app-play-info [play]="play" listItem=true displayName=false [index]="i"></app-play-info> -->
              <app-play-card [play]="play"></app-play-card>
          </ng-container>
          <ng-template #noBoardgame>
              <!-- <app-play-info [play]="play" listItem=true></app-play-info> -->
              <app-play-card [play]="play"></app-play-card>
          </ng-template>
        </div>
      </ng-container>
    </ng-container>

    <div class="inline-object"></div>
    <div class="inline-object"></div>
    <div class="inline-object"></div>
    <div class="inline-object"></div>
    <div class="inline-object"></div>
  </div>
</ng-container>

<ng-template #noSeparator>
  <div class="plays" *ngIf="plays && plays.length != 0; else noResult">
    <ng-container *ngFor="let play of plays; let i = index">
      <div class="play" (click)="view(play.id)">
        <ng-container *ngIf="boardgame else noBoardgame">
            <!-- <app-play-info [play]="play" listItem=true displayName=false [index]="i"></app-play-info> -->
            <app-play-card [play]="play"></app-play-card>
        </ng-container>
        <ng-template #noBoardgame>
            <!-- <app-play-info [play]="play" listItem=true></app-play-info> -->
            <app-play-card [play]="play"></app-play-card>
        </ng-template>
      </div>
    </ng-container>
    <div class="inline-object"></div>
    <div class="inline-object"></div>
    <div class="inline-object"></div>
    <div class="inline-object"></div>
    <div class="inline-object"></div>
  </div>
</ng-template>

<ng-template #noResult>
    <mat-grid-list cols="1" rowHeight="4:1">
      <mat-grid-tile>
        <p>Aucune partie pour l'instant. Vous pouvez ajouter une partie.</p>
      </mat-grid-tile>
    </mat-grid-list>
</ng-template>

<ng-template #progress>
    <mat-grid-list cols="1" rowHeight="4:1">
      <mat-grid-tile>
        <mat-spinner></mat-spinner>
      </mat-grid-tile>
    </mat-grid-list>
</ng-template>
