<div class="plays" *ngIf="plays && plays.length != 0; else noResult">
  <ng-container *ngFor="let play of plays; let i = index">
    <div class="play" (click)="view(play.id)">
      <app-play-card [play]="play"></app-play-card>
    </div>
  </ng-container>
  <div class="inline-object"></div>
  <div class="inline-object"></div>
  <div class="inline-object"></div>
  <div class="inline-object"></div>
  <div class="inline-object"></div>
</div>

<ng-template #noResult>
  <mat-grid-list cols="1" rowHeight="4:1">
    <mat-grid-tile>
      <p>Aucune partie pour l'instant. Vous pouvez ajouter une partie.</p>
    </mat-grid-tile>
  </mat-grid-list>
</ng-template>

<ng-template #progress>
    <mat-grid-list cols="1" rowHeight="4:1">
      <mat-grid-tile>
        <mat-spinner></mat-spinner>
      </mat-grid-tile>
    </mat-grid-list>
</ng-template>
