.plays {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.play, .inline-object, .time {
  margin: 10px;
  width: 340px;
}

.time {
  position: relative;
}

.time .icon {
  position: relative;
  top: 5px;
}

.time .mat-card {
  position: absolute;
  width: 100%;
  /* top: 50%; */
  top: 10px;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  transform: translate(-50%, 0);
  text-align: center;
  padding: 20px 0px;
}

.play:hover {
  cursor: pointer;
  /* box-shadow: 2px 2px 2px #aaa; */
}

@media (max-width: 600px) {
  .play, .time {
    margin: 10px 2px;
  }
}
