<ng-container *ngIf="player">
  <div class="player">
    <mat-grid-list cols="4" rowHeight="4:1">
      <mat-grid-tile>
          <h4>{{ player.name }}</h4>
      </mat-grid-tile>
      <mat-grid-tile>
        <p>info1</p>
      </mat-grid-tile>
      <mat-grid-tile>
        <p>info2</p>
      </mat-grid-tile>
      <mat-grid-tile>
        <p>info3</p>
      </mat-grid-tile>
    </mat-grid-list>
    <ng-container *ngIf="!listItem; then detail"></ng-container>
  </div>
</ng-container>

<ng-template #detail>
  <p>Détails</p>
</ng-template>
