<h4>Commentaires</h4>

<ng-container *ngFor='let message of messages'>
<div class="message">
  <div class="content">
    <h5>{{ message.sender }}</h5>
    <p [appSafeHtml]="message.content"></p>
  </div>
  <div class="buttons">
    <!-- <button mat-mini-fab color="primary" (click)='edit(message)'><mat-icon>edit</mat-icon></button> -->
    <button mat-mini-fab color="primary" (click)='remove(message)'><mat-icon>delete</mat-icon></button>
  </div>
</div>
</ng-container>

<div class="content">
  <mat-form-field>
    <textarea matInput placeholder="Ajouter un commentaire..."
          [(ngModel)]='currentMessage.content'></textarea>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)='addMessage()'><mat-icon>add</mat-icon></button>
</div>
