mat-form-field {
  width: 100%;
}

.buttons {
  margin-top: 2.0em;
}

.message {
  display: flex;
  margin: 10px;
  position: relative;
}

.content {
  flex-grow: 1;
  max-width: 100%;
}

.add-comment {
  margin-bottom: 15px;
}

.message .icon {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(10%, 30%);
}

mat-chip {
  font-weight: bold;
  font-size: 0.75em;
}

mat-chip:hover {
  cursor: pointer;
}
