<app-custom-layout>
  <div class="login-home">
    <h2>Se Connecter à Shi.Fu.Mi</h2>
    <mat-card>
      <p *ngIf="message">{{ message }}</p>
      <div class="login-form">
        <form [formGroup]="form" (ngSubmit)="loggin()">
          <!-- username -->
          <mat-form-field class="full-width">
            <input matInput placeholder="Username ou email" type="string" name="login" formControlName="login"/>
          </mat-form-field>

          <!-- password -->
          <mat-form-field class="full-width">
            <input matInput placeholder="Mot de passe" type="password" name="password" formControlName="password"/>
          </mat-form-field>
      
          <!-- submit -->
          <button mat-raised-button type="submit" color="accent">Se connecter</button>
        </form>
      </div>
    </mat-card>
  </div>
</app-custom-layout>
