/*
.boardgame-home {
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
*/

.boardgame-home {
  padding: 10px 5px;
}

.search {
  padding-bottom: 20px;
}

/* .data {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  bottom: 0;
} */
