.boardgame-home {
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.search {
  padding-bottom: 10px;
}

/* .data {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  bottom: 0;
} */
