/* .boardgames {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 5px 10px;
  overflow-y: auto;
} */

.boardgame {
  position: relative;
}

.boardgame:hover {
  background-color: #eee;
  cursor: pointer;
}

.select-arrow {
  position: absolute;
  font-size: 8.0em;
  opacity: 0;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}

.boardgame:hover .select-arrow {
  opacity: 1;
}
