<p>
  boardgame-list works!
</p>

<div class="boardgames">
  <ng-container *ngFor="let boardgame of boardgames;">
    <div class="boardgame" (click)="view(boardgame._id)">
      <h4>{{ boardgame.name }}</h4>
      <ul>
        <li>{{ boardgame.min_players }} à {{ boardgame.max_players }} joueurs</li>
        <li>{{ boardgame.playing_time | playTime }}</li>
        <li>{{ boardgame.plays_count }} partie(s)</li>
        <li>{{ boardgame.play_time | playTime }}</li>
      </ul>
    </div>
  </ng-container>
</div>
