.boardgames {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.boardgame {
  margin: 10px;
}

.boardgames app-boardgame-card:hover {
  cursor: pointer;
  box-shadow: 2px 2px 2px #aaa;
}

.end-line {
  flex-grow: 1;
}
