<form [formGroup]="form" (ngSubmit)="update()">
  <mat-form-field class="full-width">
    <input matInput type="string" placeholder="Username" formControlName="username">
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput type="password" placeholder="Mot de passe" formControlName="password">
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput type="password" placeholder="Confirmation" formControlName="passwordConfirmed">
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput type="string" placeholder="email" formControlName="email">
  </mat-form-field>
  <mat-divider></mat-divider>
  <h2>Avatar</h2>
  <div class="flex">
    <img [src]="form.value.image">
    <mat-form-field class="full-width">
      <input matInput type="string" placeholder="Lien vers une image" formControlName="image">
    </mat-form-field>
  </div>
  <button mat-raised-button type="submit" color="accent">Modifier</button>
</form>
