<mat-card>
  <form [formGroup]="form" submit="return false;">
    <div class="fields">
      <!-- boardgame name -->
      <mat-form-field>
        <input matInput
              placeholder="Rechercher..." readonly
              type="string" name="boardgameName"
              formControlName="boardgameName"
              (click)="openDialog()"/>
        <button mat-button matSuffix mat-icon-button>
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>

      <!-- lieux -->
      <mat-form-field>
        <input matInput placeholder="Lieux" type="string" name="place" formControlName="place" >
      </mat-form-field>

      <!-- date picker -->
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <!-- time.max input -->
      <mat-form-field>
        <input matInput type="number" name="playingTime" formControlName="playingTime" class="as-text" />
        <mat-hint>Temps de jeux</mat-hint>
        <span matSuffix>min</span>
      </mat-form-field>

      <!-- extended seach input -->
      <mat-checkbox name="incomplete" formControlName="incomplete">Partie Incomplète</mat-checkbox>
    </div>
    <div class="actions">
        <div class="filler"></div>
        <button mat-button (click)="resetPlay()"><mat-icon>refresh</mat-icon></button>
        <ng-container *ngIf="newPlay == true else btnModifier">
            <button mat-raised-button type="submit" color="accent" (click)="submit()">Ajouter</button>
        </ng-container>
        <ng-template #btnModifier>
            <button mat-raised-button type="submit" color="accent" (click)="submit()">Modifier</button>
        </ng-template>
    </div>
  </form>
</mat-card>

<div class="scores">
  <ng-container *ngFor="let score of form.value.scores; let i = index;">
    <app-score-form [score]="score"
        (scoreChanged)="changeScore($event, i)"
        (scoreDeleted)="deleteScore(i)">
    </app-score-form>
  </ng-container>
  <app-score-form (click)="addPlayer()" editable="false"></app-score-form>
  <!-- <button mat-raised-button type="button" color="accent" (click)="addPlayer()"><mat-icon>add</mat-icon></button> -->
</div>
