<mat-card>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="fields">
      <!-- boardgame name -->
      <mat-form-field>
        <input matInput placeholder="Rechercher..." type="string" name="boardgameName" formControlName="boardgameName" readonly />
        <button mat-button matSuffix mat-icon-button (click)="openDialog()">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>

      <!-- lieux -->
      <mat-form-field>
        <input matInput placeholder="Lieux" type="string" name="place" formControlName="place" >
      </mat-form-field>

      <!-- date picker -->
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <!-- time.max input -->
      <mat-form-field>
        <input matInput type="number" name="playingTime" formControlName="playingTime" class="as-text" />
        <mat-hint>Temps de jeux</mat-hint>
        <span matSuffix>min</span>
      </mat-form-field>

      <!-- extended seach input -->
      <mat-checkbox name="incomplete" formControlName="incomplete">Partie Incomplète</mat-checkbox>
    </div>
    <div class="actions">
        <button mat-button (click)="resetPlay()"><mat-icon>refresh</mat-icon></button>
        <!-- search button -->
        <button mat-raised-button type="submit" color="primary">Ajouter</button>
    </div>
  </form>
</mat-card>
