input.as-text {
    -moz-appearance: textfield;
    text-align: right;
}

.fields > * {
    padding-right: 20px;
}

.actions {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.actions .filler {
  flex-grow: 1;
}

.actions > * {
    padding-right: 60px;
}

.scores {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.scores > * {
  margin: 10px;
}

.scores button {
  min-width: 250px;
  min-height: 300px;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
