input.as-text {
    -moz-appearance: textfield;
    text-align: right;
}

.fields > * {
    padding-right: 20px;
}

.actions {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.actions .filler {
  flex-grow: 1;
}

.actions > * {
    padding-right: 60px;
}

.scores {
  margin: 10px;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}
