.mat-card {
  width: 300px;
}

.avatar {
  background: linear-gradient(217deg,#ccc, #888);;
  background-size: cover;
  /* border: 1px solid black; */
  width: 80px;
  height: 80px;
}

.mat-card-title {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-card-header {
  margin-bottom: 10px;
}

.mat-card-content {
  padding-top: 10px;
}

@media (max-width: 600px) {
  .mat-card {
    width: 280px;
  }
}
