<form>
  <mat-form-field>
    <input matInput [placeholder]="placeholder"
        [matAutocomplete]="auto"
        [formControl]="inputControl"
        autocomplete="false">
    <button mat-button matSuffix mat-icon-button>
      <mat-icon *ngIf="status != 'found' && status != 'unknown'">search</mat-icon>
      <mat-icon *ngIf="status == 'unknown'" color="primary" (click)="createPlayer()">add</mat-icon>
      <!-- <mat-icon *ngIf="status == 'found'">check_circle_outline</mat-icon> -->
      <mat-icon *ngIf="status == 'found'" color="accent">check</mat-icon>
    </button>
    <mat-autocomplete #auto="matAutocomplete"
        (optionSelected)="select($event.option.value)"
        [displayWith]="displayFunction">
      <mat-option *ngFor="let player of players" [value]="player">
        <span>{{ player.name }}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
