<!-- boardgame card and boardgame credits -->
<div *ngIf="boardgame" class="boardgame-infos">
  <div>
    <app-boardgame-card [boardgame]="boardgame"></app-boardgame-card>
    <ng-container *ngIf="boardgame.preview">
      <button mat-button color="accent" (click)="import()">Ajouter à la bibliothèque</button>
    </ng-container>
  </div>

  <mat-card *ngIf="boardgame.designers.length != 0">
    <h4>Concepteurs</h4>
    <ul>
      <li *ngFor="let designer of boardgame.designers">
        <a mat-button color="accent" (click)="viewPeople(designer.name)">{{ designer.name }}</a>
      </li>
    </ul>
  </mat-card>

  <mat-card *ngIf="boardgame.artists.length != 0">
    <h4>Artistes</h4>
    <ul>
      <li *ngFor="let artist of boardgame.artists">
        <a mat-button color="accent" (click)="viewPeople(artist.name)">{{ artist.name }}</a>
      </li>
    </ul>
  </mat-card>

  <mat-card *ngIf="boardgame.thematics.length != 0">
    <h4>Thématiques</h4>
    <ul>
      <li *ngFor="let thematic of boardgame.thematics">
        <a mat-button color="accent" (click)="searchThematic(thematic)">{{ thematic }}</a>
      </li>
    </ul>
  </mat-card>

  <mat-card *ngIf="boardgame.mechanics.length != 0">
    <h4>Mécaniques</h4>
    <ul>
      <li *ngFor="let mechanic of boardgame.mechanics">
        <a mat-button color="accent" (click)="searchMechanic(mechanic)">{{ mechanic }}</a>
      </li>
    </ul>
  </mat-card>
</div>

<!-- separation -->
<mat-divider></mat-divider>

<!-- onglet : derniere parties, description, thématique, conception -->
<mat-tab-group>
  <mat-tab label="Dernières Parties">
    <ng-container *ngIf="playsPage$ | async as playsPage; else loading">
      <app-play-list [plays]="playsPage.result"></app-play-list>
    </ng-container>
  </mat-tab>
  <mat-tab label="Description">
      <p class="description" [innerHTML]="boardgame.description"></p>
  </mat-tab>
</mat-tab-group>

<app-menu-button [actions]="actions" (actionTriggered)="doAction($event)"></app-menu-button>

<ng-template #loading>
  <mat-grid-list cols="1" rowHeight="4:1">
    <mat-grid-tile>
      <mat-spinner></mat-spinner>
    </mat-grid-tile>
  </mat-grid-list>
</ng-template>
