.boardgame-infos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.boardgame-infos > * {
  margin: 10px;
  width: 340px;
  max-height: 200px;
  overflow: auto;
}

.mat-divider {
  margin-top: 10px;
  margin-bottom: 5px;
}

.description {
  text-align: justify;
  font-size: 0.9em;
  border-radius: 2px;
  padding: 10px 10px;
}

.banner {
  position: relative;
}

.banner app-boardgame-card {
  opacity: 0.8;
  max-width: 500px;
}

.banner .content {
  padding: 10px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex > * {
  margin: 10px;
}

app-page-shortcut a {
  padding-top: 1.0em;
  text-align: left;
}

app-page-shortcut .active {
  font-weight: bold;
}
