.app-toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
}

.title {
  font-size: 2.0em;
  font-weight: bold;
}

.separator {
  display: block;
  padding: 0px 10px;
}

.app-toolbar .bigger {
  flex-grow: 1;
}

.app-container {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
}

.flex-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll
}
.grow {
  flex-grow: 1;
  margin: 0px 20px;
}

.footer {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  min-height: 64px;
}
.footer span {
  display: block;
}
.footer span.small {
  font-size: small;
}
