.page {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

.app-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  z-index: 2;
  /* min-width: 600px; */
}

.app-toolbar app-autocomplete-search-input {
  transform: translate(0, 5px);
}

.app-container {
  position: absolute;
  top: 70px;
  bottom: 0;
  left: 0;
  right: 0;
  /* min-width: 600px; */
  min-height: 500px;
}

.title {
  font-size: 2.0em;
  font-weight: bold;
}

.separator {
  display: block;
  padding: 0px 5px;
}

.flex-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.grow {
  flex-grow: 1;
  margin: 20px 10px 5px 10px;
}

.text-size {
  font-size: 0.8em;
}

.footer {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  min-height: 64px;
}

.footer span {
  display: block;
}

.footer span.small {
  font-size: small;
}

@media (max-width: 600px) {
  .app-toolbar {
    /* min-width: 300px; */
    padding: 0;
  }
  .home-button, .separator, .profil-button {
    display: none;
  }
  .app-container {
    /* min-width: 500px; */
  }
  .grow {
    margin: 0px;
  }
}
