<div class="page">
  <mat-toolbar class="app-toolbar mat-elevation-z6" color="primary">
    <button class="home-button" mat-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
    <img src="../assets/shifumi-icon.png" (click)="sidenav.toggle()">
    <a mat-button class="home-button" color="accent" routerLink="" routerLinkActive="active">
      <h1 class="title">Shi.Fu.Mi</h1>
    </a>
    <span class="separator"></span>
    <app-autocomplete-search-input class="grow text-size" placeholder="Rechercher un jeux..." (boardgameSelected)="select($event)"></app-autocomplete-search-input>
    <ng-container *ngIf="registered && registered.username != '' else login">
      <a mat-button class="profil-button" routerLink="user" routerLinkActive="active">
        <mat-icon>person</mat-icon>
        {{ registered.username }}
      </a>
      <a mat-button (click)="loggout()">
        <mat-icon>exit_to_app</mat-icon>
      </a>
    </ng-container>
    <ng-template #login>
      <a mat-button routerLink="login" routerLinkActive="active">
        <mat-icon>person_outline</mat-icon>
      </a>
    </ng-template>
  </mat-toolbar>
  <mat-progress-bar *ngIf="loading" color="accent" mode="indeterminate"></mat-progress-bar>

  <mat-sidenav-container class="app-container">
    <!-- TODO mode over -->
    <mat-sidenav #sidenav mode="over" opened="false" class="mat-elevation-z6">
      <app-menu></app-menu>
    </mat-sidenav>
    <mat-sidenav-content id="main-content">
      <div id="top-page"></div>
      <!-- <div class="flex-content" [@routeAnimations]="prepareRoute(outlet)"> -->
      <div class="flex-content">
        <!-- <div class="grow"> -->
          <router-outlet #outlet="outlet"></router-outlet>
        <!-- </div> -->
        <div class="end-page"></div>
        <mat-toolbar class="footer" color="primary">
          <a mat-button class="home-button" color="accent" routerLink="" routerLinkActive="active">
            <h1 class="title">Shi.Fu.Mi</h1>
          </a>
          <span class="small"><a mat-button href="https://github.com/ClementBouche/shifumi" target="_blank">GitHub</a></span>
        </mat-toolbar>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
