<app-custom-layout>
  <app-layout-nav *ngIf="dates">
    <div class="date-sidenav">
      <app-timeline [dates]="dates" format="YYYY-MM"
            (dateSelected)="dateSelection($event)">
      </app-timeline>
    </div>
  </app-layout-nav>

  <mat-paginator [length]="count"
          [pageSize]="size"
          [pageIndex]="index"
          [pageSizeOptions]="[5, 10, 25, 100]"
          (page)="changePage($event)">
  </mat-paginator>

  <ng-container *ngIf="plays else loading">
    <app-play-list [plays]="plays"></app-play-list>
  </ng-container>

</app-custom-layout>

<ng-template #loading>
  <mat-grid-list cols="1" rowHeight="4:1">
    <mat-grid-tile>
      <mat-spinner></mat-spinner>
    </mat-grid-tile>
  </mat-grid-list>
</ng-template>

<app-menu-button [actions]="actions" (actionTriggered)="doAction($event)"></app-menu-button>
