.chekbox-item {
  padding: 2px 6px;
  border-radius: 3px;
  display: flex;
}

.chekbox-item:hover {
  background: #eee;
}

.chekbox-item mat-checkbox {
  flex-grow: 1;
}

.chekbox-item button {
  opacity: 0;
}

.chekbox-item:hover button {
  opacity: 1;
}

.accordion {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}

.accordion p {
  margin-top: 0px;
}

.accordion button.reset {
  margin-left: 100%;
  transform: translateX(-100%);
}

.accordion .mat-form-field, .accordion .mat-slider {
  transform: translateX(5%);
  width: 90%;
}
