<div class="buttons">
  <a mat-button routerLink="/home" routerLinkActive="active">
      <mat-icon>home</mat-icon> Accueil
  </a>
  <a mat-button routerLink="/boardgame" routerLinkActive="active">
    <mat-icon>search</mat-icon> Rechercher un jeu
  </a>
  <ng-container *ngIf="connected$ | async as connected; else playTemplate">
  <a mat-button routerLink="play/me" routerLinkActive="active">
    <mat-icon>list</mat-icon> Mes parties
  </a>
  </ng-container>
  <a mat-button routerLink="player" routerLinkActive="active">
    <mat-icon>people</mat-icon> Les joueurs
  </a>
  <a mat-button routerLink="place" routerLinkActive="active">
    <mat-icon>explore</mat-icon> Lieux
  </a>
</div>

<ng-template #playTemplate>
  <a mat-button routerLink="play" routerLinkActive="active">
    <mat-icon>list</mat-icon> Toutes les parties
  </a>
</ng-template>
