<mat-paginator [length]="712"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              (page)="changePage($event)">
</mat-paginator>

<div *ngIf="pageEvent">
  <h5>Page Change Event Properties</h5>
  <div>List length: {{pageEvent.length}}</div>
  <div>Page size: {{pageEvent.pageSize}}</div>
  <div>Page index: {{pageEvent.pageIndex}}</div>
</div>

<ng-container *ngIf="boardgames else loading">
  <app-boardgame-list [boardgames]="boardgames"></app-boardgame-list>
</ng-container>

<ng-template #loading>
  <mat-grid-list cols="1" rowHeight="4:1">
    <mat-grid-tile>
      <mat-spinner></mat-spinner>
    </mat-grid-tile>
  </mat-grid-list>
</ng-template>
