<ng-container *ngIf="boardgames$ | async as boardgames; else noResult">
  <div class="title-n-btn">
    <h3>Ludothèque - {{ count }} jeux annotés</h3>
    <a mat-button color="primary" (click)="toggleAll()" >
      <span *ngIf="!viewAll">voir plus...</span>
      <span *ngIf="viewAll">voir moins</span>
    </a>
  </div>
  <app-boardgame-list [boardgames]="boardgames" [user]="userInfo"></app-boardgame-list>
</ng-container>

<ng-template #noResult>
  <mat-grid-list cols="1" rowHeight="4:1">
    <mat-grid-tile>
      <p>La ludothèque est vide.</p>
    </mat-grid-tile>
  </mat-grid-list>
</ng-template>
