<app-custom-layout>

  <!-- contenu page home -->
  <div *ngIf="boardgamePage$ | async as boardgamePage; else templateLoading" class="margin">

    <div class="options">
      <!-- <div *ngIf="user" class="library">
        <mat-checkbox name="library" value=false (change)="setLibrary()">Ma Ludothèque</mat-checkbox>
      </div> -->
      <div class="extended">
        <mat-checkbox name="extended" value=false (change)="setExtended()">Rechercher sur BoargameGeek</mat-checkbox>
      </div>
      <div class="order-by">
        <mat-form-field>
          <mat-label>Trier par</mat-label>
          <mat-select [value]="orderSelected" (selectionChange)="setOrderBy($event.source.value)">
            <mat-option *ngFor="let orderOption of orderOptions" [value]="orderOption">
              {{ orderOption.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <mat-divider></mat-divider>

    <mat-paginator class="custom-paginator"
        [length]="boardgamePage.count"
        [pageSize]="boardgamePage.size"
        [pageIndex]="boardgamePage.page - 1"
        [pageSizeOptions]="[5, 10, 25, 100]"
        (page)="changePage($event)">
    </mat-paginator>
    <app-boardgame-list *ngIf="!loading; else templateLoading" [boardgames]="boardgamePage.result"></app-boardgame-list>

    <app-input-scroll-top></app-input-scroll-top>

  </div>

  <!-- nav layout: boardgame filter -->
  <app-layout-nav>
    <ng-container *ngIf="search">
      <app-boardgame-filter [search]="search" (searchChanged)="changed($event)"></app-boardgame-filter>
    </ng-container>
  </app-layout-nav>

</app-custom-layout>

<ng-template #templateLoading>
  <app-spinner></app-spinner>
</ng-template>
