.options {
  display:flex;
  flex-wrap: wrap;
}

.options .extended {
  padding-top: 15px;
  flex-grow: 1;
}

.custom-paginator.mat-paginator {
  background: none;
}

.margin {
  margin-left: 10px;
}
