<ng-container *ngIf="user">

  <app-custom-layout padding=0>
    <!--
    <app-layout-nav>
      <div class="fit">
        <app-user-card [user]="user" [actions]="actions" (actionTriggered)="goUpdate()"></app-user-card>
      </div>
    </app-layout-nav>
    -->

    <mat-tab-group>
      <mat-tab label="Profil">
        <app-custom-layout>
          <app-user-card [user]="user" [actions]="actions" (actionTriggered)="goUpdate()"></app-user-card>
        </app-custom-layout>
      </mat-tab>
      <mat-tab label="Mes parties" *ngIf="player">
        <app-custom-layout>
          mon profil joueur
        </app-custom-layout>
      </mat-tab>
      <mat-tab label="Administration" *ngIf="user.admin">
        <app-custom-layout>
          <app-user-admin></app-user-admin>
        </app-custom-layout>
      </mat-tab>
    </mat-tab-group>

  </app-custom-layout>

</ng-container>
