<ng-container *ngIf="user$ | async as user">

  <app-custom-layout padding="0">
    <mat-tab-group>
      <mat-tab label="Mon profil">
        <app-user-player [user]="user"></app-user-player>
      </mat-tab>
      <mat-tab label="Paramètres">
        <app-user-info [user]="user"></app-user-info>
      </mat-tab>
      <mat-tab *ngIf="user.admin" label="Administration">
        <app-custom-layout padding="10px 24px 0px">
          <app-user-admin></app-user-admin>
        </app-custom-layout>
      </mat-tab>
    </mat-tab-group>
  </app-custom-layout>

</ng-container>
