<div class="rate" [matTooltip]="getTooltip()">
  <div class="view" [class.hide]="mode !== 'view'" (click)="switchMode()">
    <div class="text">
      <span *ngIf="rate">{{ rate }} / 10</span>
      <span *ngIf="!rate">Noter</span>
      <ng-container *ngIf="!disabled">
        <mat-icon>edit</mat-icon>
      </ng-container>
    </div>
  </div>
  <div class="edit" [class.hide]="mode !== 'edit'">
    <ng-container *ngFor="let value of rates">
      <button mat-icon-button [color]="getRateColor(value)" (click)="setRate(value)" [disabled]="disabled">
        <mat-icon>{{ getIcon(value) }}</mat-icon>
      </button>
    </ng-container>
  </div>
</div>
