<div class="rate" [matTooltip]="getTooltip()">
  <button mat-icon-button [color]="getRateColor(1)" (click)="setRate(2)" [disabled]="disabled">
    <mat-icon>{{ getIcon(2) }}</mat-icon>
  </button>
  <button mat-icon-button [color]="getRateColor(3)" (click)="setRate(4)" [disabled]="disabled">
    <mat-icon>{{ getIcon(4) }}</mat-icon>
  </button>
  <button mat-icon-button [color]="getRateColor(5)" (click)="setRate(6)" [disabled]="disabled">
    <mat-icon>{{ getIcon(6) }}</mat-icon>
  </button>
  <button mat-icon-button [color]="getRateColor(7)" (click)="setRate(8)" [disabled]="disabled">
    <mat-icon>{{ getIcon(8) }}</mat-icon>
  </button>
  <button mat-icon-button [color]="getRateColor(9)" (click)="setRate(10)" [disabled]="disabled">
    <mat-icon>{{ getIcon(10) }}</mat-icon>
  </button>
</div>
