@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Be sure that you only ever include this mixin once!
@include mat-core();

// hue. Available color palettes: https://material.io/design/color/
$light-app-primary: mat-palette($mat-orange, 400);
$light-app-accent:  mat-palette($mat-teal);

// The warn palette is optional (defaults to red).
$light-app-warn:    mat-palette($mat-deep-orange);

// Create the theme object (a Sass map containing all of the palettes).
$light-app-theme: mat-light-theme($light-app-primary, $light-app-accent, $light-app-warn);

@include angular-material-theme($light-app-theme);

// Define an alternate dark theme.
$dark-app-primary: mat-palette($mat-blue-grey);
$dark-app-accent:  mat-palette($mat-amber, A200, A100, A400);
$dark-app-warn:    mat-palette($mat-deep-orange);
$dark-app-theme:   mat-dark-theme($dark-app-primary, $dark-app-accent, $dark-app-warn);

// Include the alternative theme styles inside of a block with a CSS class. You can make this
// CSS class whatever you want. In this example, any component inside of an element with
// `.unicorn-dark-theme` will be affected by this alternate dark theme instead of the default theme.
.dark-app-theme {
  @include angular-material-theme($dark-app-theme);
}
