/* You can add global styles to this file, and also import other style files */

/* palette */
html {
  --first-color: #FF9800;
  --first-color-lighter: #FFE0B2;
  --first-color-darker: #F57C00;
  --second-color: #009688;
  --text-icon-color: #212121;
  --first-text-color: #212121;
  --second-text-color: #757575;
  --divider-color: #BDBDBD;
  font-family: 'Montserrat', sans-serif;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
    outline-width: 0;
}

span.border-separator {
  display: block;
  margin-top: 10px;
  margin-bottom: 40px;
  border-bottom: 1px solid #ccc;
}

/*
body {
  color: var(--first-text-color);
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--second-text-color);
}

a {
  text-decoration: none;
}
*/

/* loading screen */

.loading-screen {
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  min-width: 900px;
}

.loading-screen .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading-screen h1 {
  color: #009688;
  font-size: bold;
}

/* global input style */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}
