/* You can add global styles to this file, and also import other style files */

/* palette */
html {
  --first-color: #FF9800;
  --first-color-lighter: #FFE0B2;
  --first-color-darker: #F57C00;
  --second-color: #009688;
  --text-icon-color: #212121;
  --first-text-color: #212121;
  --second-text-color: #757575;
  --divider-color: #BDBDBD;
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito', 'Montserrat', sans-serif;
}

body {
  overflow: hidden;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
    outline-width: 0;
}

span.border-separator {
  display: block;
  margin-top: 10px;
  margin-bottom: 40px;
  border-bottom: 1px solid #ccc;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  text-align: right;
}

.noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*
body {
  color: var(--first-text-color);
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--second-text-color);
}

a {
  text-decoration: none;
}
*/

/* loading screen */

.loading-screen {
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  min-width: 300px;
}

.loading-screen .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading-screen h1 {
  color: #009688;
  font-size: bold;
}

/* global input style */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}


/* colors @see https://clrs.cc/ */
.navy { background-color: #001f3f }
.blue { background-color: #0074d9 }
.aqua { background-color: #7fdbff }
.teal { background-color: #39cccc }
.olive { background-color: #3d9970 }
.green { background-color: #2ecc40 }
.lime { background-color: #01ff70 }
.yellow { background-color: #ffdc00 }
.orange { background-color: #ff851b }
.orange { background-color: #ff851b }
.red { background-color: #ff4136 }
.maroon { background-color: #85144b }
.fuchsia { background-color: #f012be }
.purple { background-color: #b10dc9 }
.black { background-color: #111111 }
.gray { background-color: #aaaaaa }
.silver { background-color: #dddddd }
