.players {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.player, .inline-object {
  margin: 10px;
  width: 350px;
}

.player app-player-card:hover {
  cursor: pointer;
}

@media (max-width: 600px) {
  .player {
    margin: 10px auto;
  }
}
