.layout {
  margin: 0 auto;
  position: relative;
  max-width: 90em;
  display: flex;
  padding: 30px 24px 0px 24px;
}

.content {
  margin: 0 auto;
  flex-grow: 1;
  width: 100%;
}

@media (max-width: 600px) {

  .layout {
    padding: 18px 10px 0px 10px;
  }

  .nav {
    display: none;
  }

  .side {
    display: none;
  }

}
