<app-custom-layout>

  <div class="contenu">
    <h1>Le projet</h1>
    <p>
      Shifumi accompagne vos journées et soirées jeux.
      Il vous permet de rechercher votre prochain jeux,
      un petit jeu d'ambiance réunissant de nombreux joueurs,
      un jeu de carte, de dé, avec beaucoup de matériel ou facil à mettre en place.
    </p>
    <p>
      Connectez-vous pour enregistrer vos parties, planifier les prochaines séances
      et comparer vos résultats avec d'autres joueurs.
    </p>
  </div>

  <mat-grid-list appReactiveGrid [(cols)]="cols" [(gutterSize)]="gutterSize" [rowHeight]="rowHeight">

    <ng-container *ngIf="plays$ | async as plays">
      <mat-grid-tile appReactiveTile colspan="4" rowspan="7">
        <div class="contenu">
          <h2>Les dernières parties</h2>
          <app-play-list [plays]="plays"></app-play-list>
          <div class="actions">
            <a mat-button color="primary" routerLink="play" routerLinkActive="active">
              <mat-icon>visibility</mat-icon> Voir toutes les parties
            </a>
            <a mat-button color="primary" routerLink="play/add" routerLinkActive="active">
              <mat-icon>add</mat-icon> Ajouter une partie
            </a>
          </div>
        </div>
      </mat-grid-tile>
    </ng-container>

    <ng-container *ngIf="players$ | async as players">
      <mat-grid-tile appReactiveTile colspan="4" rowspan="7">
        <div class="contenu">
          <h2>Les joueurs les plus actifs</h2>
          <app-player-list [players]="players"></app-player-list>
          <div class="actions">
            <a mat-button color="primary" routerLink="player" routerLinkActive="active">
                <mat-icon>visibility</mat-icon> Voir tous les joueurs
            </a>
          </div>
        </div>
      </mat-grid-tile>
    </ng-container>

    <ng-container *ngIf="boardgames$ | async as boardgames">
      <mat-grid-tile appReactiveTile colspan="4" rowspan="7">
        <div class="contenu">
          <h2>Les jeux les mieux notés</h2>
          <app-boardgame-list [boardgames]="boardgames"></app-boardgame-list>
          <div class="actions">
            <a mat-button color="primary" routerLink="boardgame" routerLinkActive="active">
                <mat-icon>search</mat-icon> Rechercher un jeu
            </a>
          </div>
        </div>
      </mat-grid-tile>
    </ng-container>

  </mat-grid-list>

  <app-comment-section room="home" title="Commentaires libres">
    <p>Laissez-nous un message, vos impressions sur le site, partagez une image de jeux.</p>
    <p>Cet espace est libre, pas besoin de vous connecter.</p>
    <p>Pour embellir votre message, utilisez <a href="https://www.markdownguide.org/basic-syntax/" target="_blank">le format markdown</a>.</p>
    <p>L'équipe Shi.Fu.Mi.</p>
    <a mat-raised-button class="active" color="primary" appScrollTo="add-comment"><mat-icon>add</mat-icon> commentaire</a>
  </app-comment-section>

  <div class="contenu">
    <h2>Crédits</h2>
    <p class="credit">
      Shi.Fu.Mi est développé par Clément Bouché. Consultez <a href="https://github.com/ClementBouche/shifumi" target="_blank">le dépot Github</a> pour plus d'information.
    </p>
    <p class="credit">
      L'icone du site est réalisé par <a href="https://www.flaticon.com/authors/dinosoftlabs" target="_blank">dinosoftlabs</a> from Flaticon.
    </p>
    <p class="credit">
      Toutes les données sur les jeux de société sont récupéré du merveilleux site anglophone <a href="https://www.boardgamegeek.com/" target="_blank">boardgamegeek</a>.
    </p>
  </div>

</app-custom-layout>
