<app-custom-layout>
  <app-layout-nav>
    <div class="pages">
      <button mat-raised-button color="primary" (click)="go('boardgame')">
          Jeux
      </button>
      <button mat-raised-button color="primary" (click)="go('play')">
          Parties
      </button>
      <button mat-raised-button color="primary" (click)="go('player')">
          Les joueurs
      </button>
    </div>
  </app-layout-nav>
  <div class="contenu">
    <p>
      Shifumi est un assistant ludique.
      Il vous permet de trouver des <a mat-button color="accent" routerLink="boardgame">jeux</a>,
      que ce soit selon le nombre de joueurs ou la durée.
    </p>
    <p>
      <a mat-button color="accent" routerLink="login">Connectez-vous</a>
      et utilisez l'application pour enregistrer toutes vos parties.
    </p>
    <p>
      Comparez vos résultats avec d'autres 
      <a mat-button color="accent" routerLink="player">joueurs</a>
    </p>
    <p class="credit">
      Icon designed by <a href="https://www.flaticon.com/authors/dinosoftlabs">dinosoftlabs</a> from Flaticon.
    </p>
    <p class="credit">
      All boardgame data retrieve from <a href="https://www.boardgamegeek.com/">boardgamegeek</a>.
    </p>
  </div>

  <mat-divider></mat-divider>

  <app-comment-section room=home></app-comment-section>

</app-custom-layout>
