.pages {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 300px;
}

.pages > * {
  margin: 10px;
  width: 340px;
}

.pages > *:hover {
  cursor: pointer;
}

.contenu {
  margin: 20px;
}

.credit {
  font-style: italic;
  font-size: 0.9m;
}

h4 {
  text-align: center;
}
