.contenu {
  margin: 5px;
  border-radius: 10px 10px 0px 0px;
}

.contenu h4 {
  margin: 0.7em;
  text-align: center;
}

.contenu > p {
  text-align: justify;
}

.actions {
  text-align: right;
}

.credit {
  font-style: italic;
  font-size: 0.9m;
}

.divider {
  padding-bottom: 10px;
}
