.mat-card-header {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.mat-card-header > * {
  display: block;
}

.mat-card-content {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.close {
  position: absolute;;
  width: 28px;
  height: 28px;
  top: -5px;
  right: -5px;
  border-radius: 50%;
  background: #e0873d;
  cursor: pointer;
}

.close .mat-icon {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  color: white;
}

.mat-card-header .hide {
  display: none;
}

.veil {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  border-radius: 3px;
  z-index: 2;
  opacity: 0.80;
  background: #455a64;
}

.veil .mat-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: white;
  font-weight: bold;
  font-size: 50px;
  width: 50px;
  height: 50px;
}
