<mat-card class="card" *ngIf="form">
  <div *ngIf="editable === 'false'" class="veil">
    <mat-icon>add</mat-icon>
  </div>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <mat-card-header>
      <!-- playername -->
      <app-player-search-input [namePart]="form.value.playerName"
          (playerSelected)="doSelection($event)"
          (valueChanged)="doValueChanged($event)">
      </app-player-search-input>
      <!-- player score value -->
      <mat-form-field>
        <input matInput placeholder="Score / Points" type="number" name="value" formControlName="value" [disabled]="editable === 'false'">
        <span matSuffix>pts</span>
      </mat-form-field>
      <div class="close noselect" (click)="deleteAction()" [class.hide]="editable === 'false'">
        <mat-icon>clear</mat-icon>
      </div>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <!-- player infos -->
      <ul>
        <li><mat-checkbox name="winner" formControlName="winner">Vainqueur</mat-checkbox></li>
        <li><mat-checkbox name="new" formControlName="new">Première partie</mat-checkbox></li>
      </ul>
      <mat-form-field>
        <input matInput placeholder="Rôle" type="string" name="role" formControlName="role">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Equipe" type="string" name="team" formControlName="team">
      </mat-form-field>
    </mat-card-content>
  </form>
</mat-card>
