.avatar {
  background-size: cover;
  width: 60px;
  height: 60px;
}

.mat-card-header {
  margin-bottom: 10px;
  cursor: pointer;
}

.mat-card-content {
  padding-top: 10px;
}

.winner {
  color: var(--first-color);
}
