<mat-card *ngIf="play">
  <mat-card-header (click)="headerClick()">
    <div mat-card-avatar class="avatar" [appBackgroundImage]="play.thumbnail"></div>
    <!-- playername -->
    <mat-card-title>
      {{ play.boardgameName }}
    </mat-card-title>
    <mat-card-subtitle>
      <span *ngIf="play.place">{{ play.place }}</span>
      <span *ngIf="play.place && play.date"> • </span>
      <span *ngIf="play.date">{{ play.date | appDate:dateFormat }}</span>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      <ng-container *ngFor="let score of play.scores; let i = index">
          <span [class.winner]="score.winner">
            <span class="player-name">{{ score.player.name }}</span><ng-container *ngIf="i != play.scores.length - 1">, </ng-container> 
          </span>
      </ng-container>
    </p>
    <ul>
      <li></li>
      <li *ngIf="play.playingTime != 0">{{ play.playingTime | playTime:"humanize" }}</li>
    </ul>
  </mat-card-content>
  <ng-content></ng-content>
</mat-card>
