<app-custom-layout padding="0" *ngIf="player">

  <div id="description" class="banner">
    <app-player-card [player]="player" detail=true></app-player-card>
  </div>

  <mat-divider></mat-divider>

  <div id="stats">
    <h3>Statistiques</h3>
    <ng-container *ngIf="allPlays$ | async as allPlays; else loading">
      <div class="charts">
        <app-player-chart [player]="player" [plays]="allPlays" type="player"></app-player-chart>
        <app-player-chart [player]="player" [plays]="allPlays" type="playerCount"></app-player-chart>
        <app-player-chart [player]="player" [plays]="allPlays" type="time"></app-player-chart>
        <div class="inline"></div>
      </div>
      <app-player-table [player]="player" [plays]="allPlays"></app-player-table>
    </ng-container>
  </div>

  <mat-divider></mat-divider>

  <div *ngIf="plays else loading">
    <h3>Dernières Parties</h3>
    <app-play-list id="plays" [plays]="plays"></app-play-list>
    <a mat-button color="accent" (click)="search()">Voir toutes les parties</a>
  </div>

  <app-layout-side>
    <app-page-shortcut>
      <a mat-button class="active" color="primary" appScrollTo="description">Description</a>
      <a mat-button color="primary" appScrollTo="stats">Statistiques</a>
      <a mat-button color="primary" appScrollTo="plays">Dernières Parties</a>
    </app-page-shortcut>
  </app-layout-side>

</app-custom-layout>

<app-menu-button [actions]="actions" (actionTriggered)="doAction($event)"></app-menu-button>

<ng-template #loading>
  <app-spinner></app-spinner>
</ng-template>
