#description, #stats, #plays {
  margin-bottom: 10px;
}

#stats {
  min-height: 100px;
}

app-page-shortcut a {
  padding-top: 1.0em;
  text-align: left;
}

app-page-shortcut .active {
  font-weight: bold;
}

.charts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.charts .inline {
  width: 400px;
}

@media (max-width: 600px) {
  .content {
    padding: 10px 0px;
  }
}
